<div class="container-fluid" id="top">
	<div id="top-wrapper">
		<div id="top-content">
			<div id="bottom-light">
				<!-- Top menu container -->
				<div class="container first-container">
					<div class="row">
						<a href="#">
							<img src="images/logo.png" class="img-responisve" alt="CuppyCakes Logo" id="logo">
						</a>
					</div>
				</div>
				<div class="container">
					<nav class="navbar navbar-default page-menu-content" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav top-menu">
                                <li class="home"><a href="#">Home</a></li>
                                <li><a href="#">Themes</a></li>
                                <li><a href="#">Features</a></li>
                                <li class="portfolio-about"><a href="#">About</a></li>
                                <li class="comments"><a href="#">Blog</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li data-toggle="modal" data-target="#modalLoginForm"><a href="#">Log in</a></li>
                                <li data-toggle="modal" data-target="#modalRegisterForm"><a href="#">Join Today</a></li>
                                <li><a href="#">Get A Quote</a></li>
                                <li class="open-login"><a href="#">Location</a></li>
                            </ul>
							<ul class="nav navbar-nav navbar-right">
								<!--- Social icons -->
								<li class="social-icons twitter">
									<a href="#" target="_blank">
										<img alt="Twitter" src="images/twitter.png">
									</a>
								</li>
								<li class="social-icons rss">
									<a href="#" target="_blank">
										<img alt="Rss" src="images/rss.png">
									</a>
								</li>
								<li class="social-icons facebook">
									<a href="#" target="_blank">
										<img alt="Facebook" src="images/facebook.png">
									</a>
								</li>
							</ul>
						</div> <!-- /.navbar-collapse -->
					</nav>
				</div> <!-- END of Top menu container -->
				<div class="container">
					<div class="row">
						<div class="category-name">
							<h1 class="category-title">The Post Title Goes Here</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div id="content">
		<div id="content-shadow">
			<div class="container">

				<div class="row">
					<div id="breadcrumbs" class="col-md-3 col-xs-12 col-sm-12">
						<a href="#">Home</a>
						<span class="raquo">&#187</span>
						<a href="#">Blog</a>
						<span class="raquo">&#187</span>
						<a href="#">Tema tema tema tema</a>
					</div>
				</div>

			</div>

			<div class="container">
				<div class="col-md-8 col-xs-12 col-sm-12 blog-post">
					<div class="row">
						<h2 class="post-title col-md-8">
							<a href="#">The Post Title Goes Here</a>
						</h2>
					</div>
					<div class="row">
						<p class="posted-by">
							<span>Posted by Admin on March 13, 2010 in Some Category | 30 Comments</span>
						</p>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="project blog-post-image">
								<img src="images/p18.jpg" class="project-image img-responsive" alt="Make A Wish"/>
							</div>
						</div>
						<div class="col-md-8">
							<p class="post-txt">Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie
								egestas et sit amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat.
								Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus
								tellus orci, congue at tristique at, mattis ut arcu. Donec dictum eros eu felis laoreet
								egestas. Nullam adipiscing nibh id felis lacinia a iaculis nisi vestibulum. Ut sit amet
								urna enim, at accumsan quam. Nunc dui elit, hendrerit quis convallis sit amet, dapibus
								in metus. Ut dolor est, blandit a auctor vitae, accumsan id eros. Vivamus bibendum dolor
								eget lacus hendrerit et egestas risus tincidunt. Vivamus convallis magna sit amet orci
								vehicula suscipit. Quisque rhoncus lorem in ligula</p>
						</div>
					</div>

					<div class="row">
						<h2 class="post-title comments-count col-md-8">
							<a href="#">30 Comments</a>
						</h2>
					</div>
					<div class="row">
						<div class="col-md-2 user-comments">
							<div class="project user-image-container">
								<img src="images/user-charlie.jpg" class="user-image img-responsive" alt="Make A Wish"/>
							</div>
							<span class="comment-date ">12-13-2011</span>
						</div>
						<div class="col-md-10 user-comment-balloon">
							<div class="comment-container">
								<div class="comment-meta commentmetadata">
									<span class="fn">Chalie Sheen</span>
									says:
								</div>
								<div class="comment-content">
									<p>Mauris ante ante, gravida at, consectetuer quis, ullamcorper ornare, magna. Duis
										sed mauris sed libero tincidunt rutrum. In vulputate pretium dolor. Nulla
										ultricies felis vel erat.auris ante ante, gravida at, consectetuer quis,
										ullamcorper ornare, magna. Duis sed mauris sed libero tincidunt rutrum. In
										vulputate pretium dolor. Nulla ultricies felis vel erat
									</p>
									<a href="#" class="readmore more-comments pull-right"><span>Read More</span></a>
								</div>
							</div>
							<div class="comment-arrow hidden-xs hidden-sm"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-2 user-comments col-md-offset-2">
							<div class="project user-image-container">
								<img src="images/user-charlie.jpg" class="user-image img-responsive" alt="Make A Wish"/>
							</div>
							<span class="comment-date">12-13-2011</span>
						</div>
						<div class="col-md-8 user-comment-balloon reply-comment">
							<div class="comment-container">
								<div class="comment-meta commentmetadata">
									<span class="fn">Chalie Sheen</span>
									says:
								</div>
								<div class="comment-content">
									<p>Mauris ante ante, gravida at, consectetuer quis, ullamcorper ornare, magna. Duis
										sed mauris sed libero tincidunt rutrum. In vulputate pretium dolor.
									</p>
									<a href="#" class="readmore more-comments pull-right"><span>Read More</span></a>
								</div>
							</div>
							<div class="comment-arrow hidden-xs hidden-sm"></div>
						</div>
					</div>

					<div class="row">
						<h2 class="post-title col-md-8 leave-comment">
							Leave a Comment
							<a href="#"></a>
						</h2>
					</div>
				</div>
				<!-- Right text fields container-->
				<div class="col-md-4 col-xs-12 col-sm-12">
					<div class="row">
						<h4 class="recent-title">Recent Posts</h4>
						<div class="recent">
							Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio.
							Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue.
							Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci Vivamus ut curs.
						</div>
					</div>
					<div class="row">
						<h4 class="recent-title">Recent Posts</h4>
						<div class="recent wrapped-txt">
							<p><a href="#">Rhoncus quis, varius sed velit.</a></p>
							<p><a href="#">Mauris quis nunc eu nunc</a></p>
							<p><a href="#">molestie egestas et sit amet odio.</a></p>
							<p><a href="#">molestie egestas et sit amet odio.</a></p>
							<p><a href="#">tieegestas</a></p>
							<p><a href="#">lacinia velit in nibh sodales sed pharetra</a></p>

						</div>
					</div>
					<div class="row">
						<h4 class="recent-title">Recent Comments</h4>
						<div class="recent wrapped-txt">
							<p><a href="#">Rhoncus quis, varius sed velit.</a></p>
							<p><a href="#">Mauris quis nunc eu nunc</a></p>
							<p><a href="#">molestie egestas et sit amet odio.</a></p>
							<p><a href="#">molestie egestas et sit amet odio.</a></p>
							<p><a href="#">tieegestas</a></p>
							<p><a href="#">lacinia velit in nibh sodales sed pharetra</a></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="footer">
		<div id="footer-top">
			<div id="footer-content">
				<div class="container">
					<div class="row">

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Who We Are</h4>
							<div class="textwidget">
								Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet
								odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus
								augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at
								tristique at, mattis ut arcu. Donec dictum eros eu felis laoreet egestas.
							</div>
						</div>

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Custom Text Widget</h4>
							<ul id="custom-widgets-ul">
								<li>Rhoncus quis varius sed velit nibh moles</li>
								<li>Mauris quis nunc eu nunc molestie</li>
								<li>Egestas et sit amet odio morbi quis nunc</li>
								<li>Lacinia velit in nibh sodales sed quis nunc</li>
								<li>Pharetra sem feugiat nibh sodales sed</li>
								<li>Vivamus ut cursus augue nibh sodales sed</li>
							</ul>
						</div>

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Recent Posts</h4>
							<div class="textwidget">
								honcus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet
								odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus
								augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at
								tristique at, mattis ut arcu. Donec dictum
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<ul class="list-inline col-md-12 col-xs-12 col-sm-12">
					<li><a href="#">Home</a></li>
					<li><a href="#">Themes</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Affilities</a></li>
					<li><a href="#">Log in</a></li>
					<li><a href="#">Join Today</a></li>
					<li><a href="#">FAQ</a></li>
					<li class="pull-right author">Powered by <a href="#">Wordpress</a></li>
					<li class="pull-right author border-right">Designed by <a href="#">Elegant WordPress Themes</a></li>
				</ul>

			</div>
		</div>
	</div>
</div>
