<div class="container-fluid" id="top">
	<div id="top-wrapper">
		<div id="top-content">
			<div id="bottom-light">
				<!-- Top menu container -->
				<div class="container first-container">
					<div class="row">
						<a href="#">
							<img src="images/logo.png" class="img-responisve logo-img" alt="CuppyCakes Logo" id="logo">
						</a>
					</div>
				</div>
				<div class="container">
					<nav class="navbar navbar-default page-menu-content" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav top-menu">
								<li class="home"><a href="#">Home</a></li>
								<li class="dropdown themes-dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes</a>
									<ul class="dropdown-menu">
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
										<li><a href="#">JavaScript</a></li>
									</ul>
								</li>
								<li class="features"><a href="#">Features</a></li>
								<li class="recentposts"><a href="#">About</a></li>
								<li class="comments"><a href="#">Weekly topic</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Affiliates</a></li>
								<li data-toggle="modal" data-target="#modalLoginForm"><a href="#">Log in</a></li>
								<li data-toggle="modal" data-target="#modalRegisterForm"><a href="#">Join Today</a></li>
								<li><a href="#">Get A Quote</a></li>
								<li class="open-login"><a href="#">Location</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<!--- Social icons -->
								<li class="social-icons twitter">
									<a href="#" target="_blank">
										<img alt="Twitter" src="images/twitter.png">
									</a>
								</li>
								<li class="social-icons rss">
									<a href="#" target="_blank">
										<img alt="Rss" src="images/rss.png">
									</a>
								</li>
								<li class="social-icons facebook">
									<a href="#" target="_blank">
										<img alt="Facebook" src="images/facebook.png">
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END of Top menu container -->
			</div>
			<h1 class="server-error">{{error}}</h1>
		</div>
	</div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog"
	 aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close"
						data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h2 class="modal-title" id="loginModalLabel">
					Log In Here
				</h2>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">
				<form role="form" id="loginForm" action="login" method="post" onsubmit="return false;">
					<div class="form-group">
						<label for="exampleInputEmail1">User name</label>
						<input type="text" class="form-control" name="username"
							   id="exampleInputEmail1" placeholder="User name"/>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" name="password"
							   id="exampleInputPassword1" placeholder="Password"/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success login-button">
							Log in
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
<!-- Register Modal -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
	 aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close"
						data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h2 class="modal-title" id="registerModalLabel">
					Join Today
				</h2>
			</div>
			<!-- Modal Body -->
			<div class="modal-body">
				<form role="form" id="registerForm" action="register" method="post" onsubmit="return false;">
					<div class="form-group">
						<label for="register-username">User name</label>
						<input type="text" class="form-control" name="username"
							   id="register-username" placeholder="User name"/>
					</div>
					<div class="form-group">
						<label for="register-firstname">First name</label>
						<input type="text" class="form-control" name="firstname"
							   id="register-firstname" placeholder="First name"/>
					</div>
					<div class="form-group">
						<label for="user-image">Your image url</label>
						<input type="text" class="form-control" name="userImageUrl"
							   id="user-image" placeholder="Image url"/>
					</div>
					<div class="form-group">
						<label for="register-password">Password</label>
						<input type="password" class="form-control" name="password"
							   id="register-password" placeholder="Password"/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success register-button">
							Join now
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
