<div class="container-fluid" id="top">
	<div id="top-wrapper">
		<div id="top-content">
			<div id="bottom-light">
				<!-- Top menu container -->
				<div class="container first-container">
					<div class="row">
						<a href="#">
							<img src="images/logo.png" class="img-responisve" alt="CuppyCakes Logo" id="logo">
						</a>
					</div>
				</div>
				<div class="container">
					<nav class="navbar navbar-default page-menu-content" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
									data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav top-menu">
								<li class="home"><a href="#">Home</a></li>
								<li><a href="#">Themes</a></li>
								<li><a href="#">Features</a></li>
								<li class="portfolio-about"><a href="#">About</a></li>
								<li class="comments"><a href="#">Blog</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Affiliates</a></li>
								<li data-toggle="modal" data-target="#modalLoginForm"><a href="#">Log in</a></li>
								<li data-toggle="modal" data-target="#modalRegisterForm"><a href="#">Join Today</a></li>
								<li><a href="#">Get A Quote</a></li>
								<li class="open-login"><a href="#">Location</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<!--- Social icons -->
								<li class="social-icons twitter">
									<a href="#" target="_blank">
										<img alt="Twitter" src="images/twitter.png">
									</a>
								</li>
								<li class="social-icons rss">
									<a href="#" target="_blank">
										<img alt="Rss" src="images/rss.png">
									</a>
								</li>
								<li class="social-icons facebook">
									<a href="#" target="_blank">
										<img alt="Facebook" src="images/facebook.png">
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<!-- END of Top menu container -->

				<div id="featured">
					<div class="container-fluid">
						<div class="row">
							<div id="wrapper col-md-12 col-xs-8 col-xs-offset-2">
								<div id="carousel">
									<div class="hidden-xs hidden-sm">
										<p class="overlay hidden"></p>
										<img src="images/0.jpg" width="240" height="150"/>
									</div>

									<div class="hidden-xs hidden-sm">
										<p class="overlay hidden"></p>
										<img src="http://fc09.deviantart.net/fs46/i/2009/172/3/5/Party_people_by_ThePreseT.png"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<p class="overlay hidden"></p>
										<img src="http://media.teentimes.com/uploads/2015/06/giphy-74.gif" width="400"
											 height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<p class="overlay hidden"></p>
										<img src="http://www.dailybackgrounds.com/wp-content/uploads/2014/11/people-enjoying-new-year-party.jpg"
											 width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<p class="overlay hidden"></p>
										<img src="https://49.media.tumblr.com/e85327ce6ddd13629e86e5ba1701d9e3/tumblr_nh8z0pl7W81u2uymso1_500.gif"
											 width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://www.suport.cz/wp-content/uploads/2013/11/tumblr_md69idww7b1riivzjo1_500_large.jpg"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://www.ewallpapers.eu/w_show/let--s-party-1280-1024-6774.jpg"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw3.jpg" width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://s3.favim.com/orig/44/blue-calm-calm-down-crown-flashing-Favim.com-375188.gif"
											 width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw1.jpg" width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="https://s-media-cache-ak0.pinimg.com/originals/10/32/e1/1032e1a6cafffa9544f1fbc74506ef15.gif"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://cdn.mtlblog.com/uploads/2015/09/pastime.jpg" width="400"
											 height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://www.ewallpapers.eu/w_show/let--s-party-1280-1024-6774.jpg"
											 width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw1.jpg" width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="https://45.media.tumblr.com/b738045afc8bd733a038f8869c4fcbd4/tumblr_nfynegkGMu1s4y1ybo1_500.gif"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw3.jpg" width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw4.jpg" width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw3.jpg" width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://s3.favim.com/orig/44/blue-calm-calm-down-crown-flashing-Favim.com-375188.gif"
											 width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw1.jpg" width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="https://s-media-cache-ak0.pinimg.com/originals/10/32/e1/1032e1a6cafffa9544f1fbc74506ef15.gif"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://cdn.mtlblog.com/uploads/2015/09/pastime.jpg" width="400"
											 height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://www.ewallpapers.eu/w_show/let--s-party-1280-1024-6774.jpg"
											 width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw1.jpg" width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="https://45.media.tumblr.com/b738045afc8bd733a038f8869c4fcbd4/tumblr_nfynegkGMu1s4y1ybo1_500.gif"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw3.jpg" width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw4.jpg" width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw3.jpg" width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://s3.favim.com/orig/44/blue-calm-calm-down-crown-flashing-Favim.com-375188.gif"
											 width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw1.jpg" width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="https://s-media-cache-ak0.pinimg.com/originals/10/32/e1/1032e1a6cafffa9544f1fbc74506ef15.gif"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://cdn.mtlblog.com/uploads/2015/09/pastime.jpg" width="400"
											 height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="http://www.ewallpapers.eu/w_show/let--s-party-1280-1024-6774.jpg"
											 width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw1.jpg" width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="https://45.media.tumblr.com/b738045afc8bd733a038f8869c4fcbd4/tumblr_nfynegkGMu1s4y1ybo1_500.gif"
											 width="240" height="150"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw3.jpg" width="400" height="250"/>
									</div>
									<div class="hidden-xs hidden-sm">
										<img src="libs/carousel/img/fw4.jpg" width="400" height="250"/>
									</div>
								</div>
								<!-- <div id="nav">
									<a id="prev" href="#">&laquo; prev</a>
									<a id="next" href="#">next &raquo;</a>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="content">
		<div id="content-shadow">
			<div class="container">
				<div class="row">
					<div class="col-md-4 service col-xs-12 col-sm-12">
						<img src="images/icon-3.png" class="icon"/>
						<h3 class="title">What we offer</h3>
						<p>Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio.
							Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue.
							Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique
							at, mattis ut arcu. Donec dictum eros eu felis laoreet egestas.</p>
						<a href="#" class="readmore pull-right"><span>Read More</span></a>
					</div>

					<div class="col-md-4 service col-xs-12 col-sm-12">
						<img src="images/icon-2.png" class="icon"/>
						<h3 class="title">Who we are</h3>
						<p>Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio.
							Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue.
							Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique
							at, mattis ut arcu. Donec dictum</p>
						<a href="#" class="readmore pull-right"><span>Read More</span></a>
					</div>

					<div class="col-md-4 service col-xs-12 col-sm-12">
						<img src="images/icon-1.png" class="icon"/>
						<h3 class="title">Our Mission</h3>
						<p>Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio.
							Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue.
							Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique
							at, mattis ut arcu. Donec dictum</p>
						<a href="#" class="readmore pull-right"><span>Read More</span></a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="quote">
		<div id="quote-inner">
			<div class="container">
				<span id="quote-icon"></span>

				<div class="row">
					<p class="col-md-12 col-xs-12 col-sm-12">Vivamus id feugiat ligula. Nulla facilisi. Integer lacus
						justo, elementum eget consequat a, molestie nec sapien. Quisque tincidunt, nunc vitae adipiscing
						vulputate
					</p>
				</div>

				<a href="#" class="additional-info">
					<span>Additional Info</span>
				</a>

			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="content">
		<div id="home-gallery">
			<div class="container">
				<div class="row">

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/2jpg.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" data-toggle="modal" data-target="#imageBiggerViewZoom" rel="media" title="Make A Wish"
							style="opacity: 1; visibility: visible;">
							Zoom In
						</a>
						<div class="modal fade hidden bigger-view" id="imageBiggerViewZoom" role="dialog">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body">
									<img class="zoomed-img img-responsive" src="images/2jpg.jpg" />
								</div>
							</div>
							</div>
						</div>
						<a href="#" class="more-icon" style="opacity: 1; visibility: visible;">Read more</a>
					</div>

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/1.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 0; visibility: visible;">
							Zoom In
						</a>
						<a href="#" class="more-icon" style="opacity: 0; visibility: visible;">Read more</a>
					</div>

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/3.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 0; visibility: visible;">
							Zoom In
						</a>
						<a href="#" class="more-icon" style="opacity: 0; visibility: visible;">Read more</a>
					</div>

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/4.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 0; visibility: visible;">
							Zoom In
						</a>
						<a href="#" class="more-icon" style="opacity: 0; visibility: visible;">Read more</a>
					</div>

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/5.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 0; visibility: visible;">
							Zoom In
						</a>
						<a href="#" class="more-icon" style="opacity: 0; visibility: visible;">Read more</a>
					</div>
				</div>

				<div class="row">

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/6.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 0; visibility: visible;">
							Zoom In
						</a>
						<a href="#" class="more-icon" style="opacity: 0; visibility: visible;">Read more</a>
					</div>

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/7.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 0; visibility: visible;">
							Zoom In
						</a>
						<a href="#" class="more-icon" style="opacity: 0; visibility: visible;">Read more</a>
					</div>

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/8.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 0; visibility: visible;">
							Zoom In
						</a>
						<a href="#" class="more-icon" style="opacity: 0; visibility: visible;">Read more</a>
					</div>

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/9.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a data-toggle="modal" data-target="#imageTwoBiggerViewZoom"
						   class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 1; visibility: visible;">
							Zoom In
						</a>
						<div class="modal fade hidden bigger-view" id="imageTwoBiggerViewZoom" role="dialog">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body">
									<img class="zoomed-img img-responsive" src="images/9.jpg"/>
								</div>
							</div>
							</div>
						</div>
						<a href="#" class="more-icon" style="opacity: 1; visibility: visible;">Read more</a>
					</div>

					<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
						<img src="images/10.jpg" class="project-image img-responsive" alt="Make A Wish"/>
						<a class="zoom-icon fancybox" rel="media" title="Make A Wish"
						   style="opacity: 0; visibility: visible;">
							Zoom In
						</a>
						<a href="#" class="more-icon" style="opacity: 0; visibility: visible;">Read more</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="footer">
		<div id="footer-top">
			<div id="footer-content">
				<div class="container">
					<div class="row">

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Who We Are</h4>
							<div class="textwidget">
								Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet
								odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus
								augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at
								tristique at, mattis ut arcu. Donec dictum eros eu felis laoreet egestas.
							</div>
						</div>

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Custom Text Widget</h4>
							<ul id="custom-widgets-ul">
								<li>Rhoncus quis varius sed velit nibh moles</li>
								<li>Mauris quis nunc eu nunc molestie</li>
								<li>Egestas et sit amet odio morbi quis nunc</li>
								<li>Lacinia velit in nibh sodales sed quis nunc</li>
								<li>Pharetra sem feugiat nibh sodales sed</li>
								<li>Vivamus ut cursus augue nibh sodales sed</li>
							</ul>
						</div>

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Recent Posts</h4>
							<div class="textwidget">
								honcus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet
								odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus
								augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at
								tristique at, mattis ut arcu. Donec dictum
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<ul class="list-inline col-md-12 col-xs-12 col-sm-12">
					<li><a href="#">Home</a></li>
					<li><a href="#">Themes</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Affilities</a></li>
					<li><a href="#">Log in</a></li>
					<li><a href="#">Join Today</a></li>
					<li><a href="#">FAQ</a></li>
					<li class="author pull-right">Powered by <a href="#">Wordpress</a></li>
					<li class=" author pull-right border-right">Designed by <a href="#">Elegant WordPress Themes</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>



<!-- LogIN Modal -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog"
	 aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close"
						data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h2 class="modal-title" id="loginModalLabel">
					Log In Here
				</h2>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">
				<form role="form" id="loginForm" action="login" method="post">
					<div class="form-group">
						<label for="exampleInputEmail1">User name</label>
						<input type="text" class="form-control" name="username"
							   id="exampleInputEmail1" placeholder="User name"/>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" name="password"
							   id="exampleInputPassword1" placeholder="Password"/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">
							Log in
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
	 aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close"
						data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h2 class="modal-title" id="registerModalLabel">
					Join Today
				</h2>
			</div>
			<!-- Modal Body -->
			<div class="modal-body">
				<form role="form" id="registerForm" action="register" method="post">
					<div class="form-group">
						<label for="register-username">User name</label>
						<input type="text" class="form-control" name="username"
							   id="register-username" placeholder="User name"/>
					</div>
					<div class="form-group">
						<label for="register-firstname">First name</label>
						<input type="text" class="form-control" name="firstname"
							   id="register-firstname" placeholder="First name"/>
					</div>
					<!-- <div class="form-group">
						<label for="user-image">Your image url</label>
						<input type="text" class="form-control"
							   id="user-image" placeholder="Image url"/>
					</div> -->
					<div class="form-group">
						<label for="register-password">Password</label>
						<input type="password" class="form-control" name="password"
							   id="register-password" placeholder="Password"/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">
							Join now
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
