<!DOCTYPE html>
<html>
<head>
	<title>Let me take a partie</title>
	<link rel="stylesheet" id="et-gf-open-sans-css"
		  href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext"
		  type="text/css" media="all"/>
	<link rel="stylesheet" id="et-gf-open-sans-condensed-css"
		  href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&amp;subset=latin,latin-ext"
		  type="text/css" media="all"/>

	<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/toastr/2.1.2/toastr.min.css"/>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>

	<link rel="stylesheet" type="text/css" href="stylesheets/defaultstyles.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>
<body>
<div id="body-container">
	{{{body}}}
</div>
<!--Libs-->
<script src="libs/jquery/jquery-2.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/toastr/2.1.2/toastr.min.js"></script>
<script src="libs/handlebars-v4.0.5.js"></script>
<script src="libs/handlebars-helpers.js"></script>
<script src="libs/bootstrap/js/bootstrap.js"></script>
<script src="libs/momentjs/moment-with-locales.js"></script>

<script src="javascripts/templates.js"></script>

<script src="javascripts/requests.js"></script>
<script src="javascripts/notifier.js"></script>
<script src="javascripts/userActionsModule.js"></script>
<script src="javascripts/menuNavigation.js"></script>
<script src="javascripts/app.js"></script>

</body>
</html>
