<div id="login-register-popup">
	<form id="login" action="login" method="post">
		<fieldset>
			User name:<br>
			<input type="text" name="username" value="Mickey"><br>
			Password:<br>
			<input type="password" name="password" value="Mouse"><br><br>
			<input id="login-button" type="submit" value="Login">
		</fieldset>
	</form>

	<form id="register" action="register" method="post">
		<fieldset>
			User name:<br>
			<input type="text" name="username" value="Mickey"><br>
			First name:<br>
			<input type="text" name="firstname" value="Mickey"><br>
			Password:<br>
			<input type="password" name="password" value="Mouse"><br><br>
			<input id="register-button" type="submit" value="Register">
		</fieldset>
	</form>

	<button class="test-button-dude">Post Article</button>

	<button class="test-button-dude2">Get Article</button>

	<button class="test-button-dude3">Post Comment</button>
</div>
