<div class="container-fluid" id="top">
	<div id="top-wrapper">
		<div id="top-content">
			<div id="bottom-light">
			<!-- Top menu container -->
				<div class="container first-container">
					<div class="row">
						<a href="#">
							<img src="images/logo.png" class="img-responisve" alt="CuppyCakes Logo" id="logo">
						</a>
					</div>
				</div>
				<div class="container">
					<nav class="navbar navbar-default page-menu-content" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav top-menu">
								<li class="home"><a href="#">Home</a></li>
								<li><a href="#">Themes</a></li>
								<li class="features"><a href="#">Features</a></li>
								<li class="recentposts"><a href="#">About</a></li>
								<li class="comments"><a href="#">Blog</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Affiliates</a></li>
								<li data-toggle="modal" data-target="#modalLoginForm"><a href="#">Log in</a></li>
								<li data-toggle="modal" data-target="#modalRegisterForm"><a href="#">Join Today</a></li>
								<li><a href="#">Get A Quote</a></li>
								<li class="open-login"><a href="#">Location</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<!--- Social icons -->
								<li class="social-icons twitter">
									<a href="#" target="_blank">
									<img alt="Twitter" src="images/twitter.png">
									</a>
								</li>
								<li class="social-icons rss">
									<a href="#" target="_blank">
									<img alt="Rss" src="images/rss.png">
									</a>
								</li>
								<li class="social-icons facebook">
									<a href="#" target="_blank">
									<img alt="Facebook" src="images/facebook.png">
									</a>
								</li>
							</ul>
						</div> <!-- /.navbar-collapse -->
					</nav>
				</div> <!-- END of Top menu container -->
				<div class="container">
					<div class="row">
						<div class="category-name">
							<h1 class="category-title">Portfolio Category</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div id="content">
		<div id="content-shadow">
			<div class="container">

				<div class="row">
					<div  id="breadcrumbs" class="col-md-3 col-xs-12 col-sm-12">
						<a href="#">Home</a>
						<span class="raquo">&#187</span>
						<a href="#">Blog</a>
						<span class="raquo">&#187</span>
						<a href="#">Tema tema tema tema</a>
					</div>
				</div>

			</div>

			<div class="container recent-posts-content">
			<!-- recent posts container -->
				<div class="row">

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/2jpg.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="play-video-icon fancybox visible-link" data-toggle="modal" data-target="#viewVideoPlayer" rel="media" title="See more..">
									Zoom In
								</a>
								<div class="modal fade bigger-view" id="viewVideoPlayer" role="dialog">
									<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<img class="zoomed-img img-responsive" src="http://31.media.tumblr.com/d27c7ec9acfe2b69f958664df4cddbda/tumblr_inline_mkk8j8qP2g1qz4rgp.gif" />
										</div>
									</div>
									</div>
								</div>
								<a href="#" class="more-icon visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/1.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/3.jpg" class="project-image img-responsive" alt="See more.." />
								<a class="zoom-icon fancybox visible-link" data-toggle="modal" data-target="#imageBiggerViewZoom" rel="media" title="See more..">
									Zoom In
								</a>
								<div class="modal fade bigger-view" id="imageBiggerViewZoom" role="dialog">
									<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<img class="zoomed-img img-responsive" src="images/3.jpg" />
										</div>
									</div>
									</div>
								</div>
								<a href="#" class="more-icon visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/4.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/5.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>
						</div>

						<div class="row">

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p10.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="#" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p11.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p12.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3 bigger-portfolio-project">
								<img src="images/p-large13.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p14.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>
						</div>

						<div class="row">

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p15.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="play-video-icon fancybox visible-link" data-toggle="modal" data-target="#viewOtherVideoPlayer" rel="media" title="See more..">
									Zoom In
								</a>
								<div class="modal fade bigger-view" id="viewOtherVideoPlayer" role="dialog">
									<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<img class="zoomed-img img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/8e/4e/b9/8e4eb9d0ab33be61c79a9bca9bb3bc53.gif" />
										</div>
									</div>
									</div>
								</div>

								<a href="#" class="more-icon visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p16.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p17.jpg" class="project-image img-responsive" alt="See more.." />
								<a class="zoom-icon fancybox visible-link" data-toggle="modal" data-target="#image2BiggerViewZoom" rel="media" title="See more..">
									Zoom In
								</a>
								<div class="modal fade hidden bigger-view" id="image2BiggerViewZoom" role="dialog">
									<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<img class="zoomed-img img-responsive" src="images/p17.jpg" />
										</div>
									</div>
									</div>
								</div>
								<a href="#" class="more-icon visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p18.jpg" class="project-image img-responsive" alt="See more.." />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="Make A Wish">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>

							<div class="project col-lg-2 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-xs-offset-3">
								<img src="images/p19.jpg" class="project-image img-responsive" alt="Make A Wish" />
								<a href="" class="zoom-icon fancybox not-visible-link" rel="media" title="See more..">
									Zoom In
								</a>
								<a href="#" class="more-icon not-visible-link">Read more</a>
							</div>
						</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="footer">
		<div id="footer-top">
			<div id="footer-content">
				<div class="container">
					<div class="row">

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Who We Are</h4>
							<div class="textwidget">
								Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut arcu. Donec dictum eros eu felis laoreet egestas.
							</div>
						</div>

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Custom Text Widget</h4>
							<ul id="custom-widgets-ul">
								<li>Rhoncus quis varius sed velit nibh moles</li>
								<li>Mauris quis nunc eu nunc molestie</li>
								<li>Egestas et sit amet odio morbi quis nunc</li>
								<li>Lacinia velit in nibh sodales sed quis nunc</li>
								<li>Pharetra sem feugiat nibh sodales sed</li>
								<li>Vivamus ut cursus augue nibh sodales sed</li>
							</ul>
						</div>

						<div id="text-5" class="footer-widget widget_text col-md-4 col-xs-12 col-sm-12">
							<h4 class="widgettitle">Recent Posts</h4>
							<div class="textwidget">
								honcus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut arcu. Donec dictum
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<ul class="list-inline col-md-12 col-xs-12 col-sm-12">
					<li><a href="#">Home</a></li>
					<li><a href="#">Themes</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Affilities</a></li>
					<li><a href="#">Log in</a></li>
					<li><a href="#">Join Today</a></li>
					<li><a href="#">FAQ</a></li>
					<li class="pull-right author">Powered by <a href="#">Wordpress</a></li>
					<li class="pull-right author border-right">Designed by <a href="#">Elegant WordPress Themes</a></li>
				</ul>

			</div>
		</div>
	</div>
</div>

