<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
	 aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close"
						data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h2 class="modal-title" id="registerModalLabel">
					Join Today
				</h2>
			</div>
			<!-- Modal Body -->
			<div class="modal-body">
				<form role="form" id="registerForm" action="register" method="post" onsubmit="return false;">
					<div class="form-group">
						<label for="register-username">User name</label>
						<input type="text" class="form-control" name="username"
							   id="register-username" placeholder="User name"/>
					</div>
					<div class="form-group">
						<label for="register-firstname">First name</label>
						<input type="text" class="form-control" name="firstname"
							   id="register-firstname" placeholder="First name"/>
					</div>
					<div class="form-group">
						<label for="user-image">Your image url</label>
						<input type="text" class="form-control" name="userImageUrl"
							   id="user-image" placeholder="Image url"/>
					</div>
					<div class="form-group">
						<label for="register-password">Password</label>
						<input type="password" class="form-control" name="password"
							   id="register-password" placeholder="Password"/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success register-button">
							Join now
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
