#login-register-popup {
  position: fixed;
  width: 235px;
  background: #333;
  text-align: center;
  border: 1px solid #000;
  left: 50%;
  font-family: sans-serif;
  color: #000;
  text-shadow: #fff;
  top: 50%;
  margin-left: -125px;
  margin-top: -75px;
  z-index: 100;
}
